# Clocks & debug
NET "clk50mhz" LOC="P55" | IOSTANDARD = LVCMOS33;

# Video output
NET "ro<2>" LOC="P81" | IOSTANDARD = LVCMOS33;
NET "ro<1>" LOC="P80" | IOSTANDARD = LVCMOS33;
NET "ro<0>" LOC="P79" | IOSTANDARD = LVCMOS33;

NET "go<2>" LOC="P84" | IOSTANDARD = LVCMOS33;
NET "go<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
NET "go<0>" LOC="P82" | IOSTANDARD = LVCMOS33;

NET "bo<2>" LOC="P93" | IOSTANDARD = LVCMOS33;
NET "bo<1>" LOC="P92" | IOSTANDARD = LVCMOS33;
NET "bo<0>" LOC="P88" | IOSTANDARD = LVCMOS33;

NET "hsync" LOC="P87" | IOSTANDARD = LVCMOS33;
NET "vsync" LOC="P85" | IOSTANDARD = LVCMOS33;

## Sound input/output
#NET "audio_out_left" LOC="P10" | IOSTANDARD = LVCMOS33;
#NET "audio_out_right" LOC="P9" | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
#NET "clkps2" LOC="P99"    | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "dataps2" LOC="P98"   | IOSTANDARD = LVCMOS33 | PULLUP;
